<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<div class="hero-section">
  <div class="owl-carousel">
    {% for block in section.blocks %}
      <div class="item">
        <div class="item-inner">
          <div class="hero-content">
            <h2 class="hero-title">{{ block.settings.title }}</h2>
            <p class="hero-subtitle">{{ block.settings.text }}</p>
            <a href="{{ block.settings.button_link }}" class="hero-button">{{ block.settings.button_text }}</a>
          </div>
          <img
            src="{{ block.settings.image | image_url: '1000x' }}"
            alt="{{ block.settings.title }}"
            width="100%"
            height="100%"
            class="hero-img"
          >
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<div class="arrows-container">
  <img id="custom-prev" src="{{ 'arrow-left.png' | asset_url }}" alt="Left arrow" width="100%" height="100%">
  <img id="custom-next" src="{{ 'arrow-right.png' | asset_url }}" alt="Right arrow" width="100%" height="100%">
</div>

<style>
  .item {
    top: 0;
    left: 0;
    width: 100vw;
    height: 86vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .item-inner {
    display: flex;
    flex-grow: 1;
    height: 100%;
    overflow: auto;
  }

  .hero-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .hero-content {
    position: absolute;
    left: 76px;
    bottom: 100px;
  }

  .hero-button {
    background-color: rgba(66, 171, 222, 1);
    padding: 14px 30px;
    color: #fff;
    border: none;
    border-radius: 100px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
  }

  .hero-subtitle {
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    color: rgba(128, 128, 128, 1);
  }

  .hero-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 36px;
    color: rgba(35, 31, 32, 1);
  }

  .arrows-container {
    width: 50px;
    cursor: pointer;
    z-index: 3;
    position: absolute;
    right: 100px;
    bottom: 100px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
</style>

<script>
  $(document).ready(function () {
    var owl = $('.owl-carousel');
    owl.owlCarousel({
      loop: false,
      margin: 10,
      autoplay: false,
      items: 1,
      dots: true,
    });

    $('#custom-prev').click(function () {
      owl.trigger('prev.owl.carousel');
    });

    $('#custom-next').click(function () {
      owl.trigger('next.owl.carousel');
    });
  });
</script>

{% schema %}
{
  "name": "Hero Section",
  "settings": [],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Slide Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Slide Title"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Slide Text"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Section",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}

{% comment %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
  >

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

  <div class="hero-section">
    <div class="owl-carousel">
      <div class="item">
        <div class="item-inner">
          <div class="hero-content">
            <h2 class="hero-title">ULTIMATE CREATINE 250g</h2>
            <p class="hero-subtitle">{{ 'The health project' | upcase }}</p>
            <a href="#" class="hero-button">Buy now $24.99</a>
          </div>
          <img
            src="
              {%
              if section.settings.image == blank %}
                {{ 'banner.png' | asset_url }}
              {% else %}
                 {{ section.settings.image | image_url: width: 100 }}
              {% endif %}
            "
            alt="{{ section.settings.image_alt_text }}"
            width="100%"
            height="100%"
            class="hero-img"
          >
        </div>
      </div>
      <div class="item">
        <div class="item-inner">
          <div class="hero-content">
            <h2 class="hero-title">ULTIMATE CREATINE 250g</h2>
            <p class="hero-subtitle">{{ 'The health project' | upcase }}</p>
            <a href="#" class="hero-button">Buy now $24.99</a>
          </div>
          <img
            src="
              {%
              if section.settings.image == blank %}
                {{ 'logo.png' | asset_url }}
              {% else %}
                 {{ section.settings.image | image_url: width: 100 }}
              {% endif %}
            "
            alt="{{ section.settings.image_alt_text }}"
            width="100%"
            height="100%"
            class="hero-img"
          >
        </div>
      </div>
      <div class="item">
        <div class="item-inner">
          <div class="hero-content">
            <h2 class="hero-title">ULTIMATE CREATINE 250g</h2>
            <p class="hero-subtitle">{{ 'The health project' | upcase }}</p>
            <a href="#" class="hero-button">Buy now $24.99</a>
          </div>
          <img
            src="
              {%
              if section.settings.image == blank %}
                {{ 'banner.png' | asset_url }}
              {% else %}
                 {{ section.settings.image | image_url: width: 100 }}
              {% endif %}
            "
            alt="{{ section.settings.image_alt_text }}"
            width="100%"
            height="100%"
            class="hero-img"
          >
        </div>
      </div>
    </div>
  </div>

  <div class="arrows-container">
    <img id="custom-prev" src="{{ 'arrow-left.png' | asset_url }}" alt="Left arrow" width="100%" height="100%">
    <img id="custom-next" src="{{ 'arrow-right.png' | asset_url }}" alt="Right arrow" width="100%" height="100%">
  </div>

  <style>
    .item {
      top: 0;
      left: 0;
      width: 100vw;
      height: 86vh;
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
    }

    .item-inner {
      display: flex;
      flex-grow: 1;
      height: 100%;
      overflow: auto;
    }

    .hero-img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .hero-content {
      position: absolute;
      left: 76px;
      bottom: 100px;
    }

    .hero-button {
      background-color: rgba(66, 171, 222, 1);
      padding: 14px 30px;
      color: #fff;
      border: none;
      border-radius: 100px;
      font-size: 15px;
      font-family: 'Montserrat', sans-serif;
      text-decoration: none;
    }

    .hero-subtitle {
      font-family: 'Karla', sans-serif;
      font-size: 24px;
      color: rgba(128, 128, 128, 1);
    }

    .hero-title {
      font-family: 'Montserrat', sans-serif;
      font-size: 24px;
      line-height: 36px;
      color: rgba(35, 31, 32, 1);
    }

    .arrows-container {
      width: 50px;
      cursor: pointer;
      z-index: 3;
      position: absolute;
      right: 100px;
      bottom: 100px;
      display: flex;
      justify-content: center;
      gap: 20px;
    }
  </style>

  <script>
    $(document).ready(function () {
      var owl = $('.owl-carousel');
      owl.owlCarousel({
        loop: false,
        margin: 10,
        autoplay: false,
        items: 1,
        dots: true,
      });

      $('#custom-prev').click(function () {
        owl.trigger('prev.owl.carousel');
      });

      $('#custom-next').click(function () {
        owl.trigger('next.owl.carousel');
      });
    });
  </script>
{% endcomment %}
